<!DOCTYPE html>
<html>
  <%- include /includes/head.ejs %>
  <body>
  	<%- include /includes/header.ejs %>
  	<%- include /includes/search.ejs %>
  	<div class="container">
		<h1>Últimas queixinhas</h1>
    	<%- include /includes/thumbnail_lista.ejs %>
	</div> <!-- /container -->
    <%- include /includes/footer.ejs %>
  </body>
</html>
