<!DOCTYPE html>
<html lang="pt">
    <%- include ../includes/head.ejs %>
    <body>
		<%- include ../includes/header.ejs %>
		<div class="container">
			<div class="page-header">
				<h3>Editar conta, está registado com <strong><%= identity %></strong>.</h3>
			</div>
			<%
				this.errorMsg = this.errorMsg || '';
			%>
			<p class="message-success"><%= errorMsg %></p>
			<form role="form" action="/users/editar" method="post">
				<div class="form-group">
					<label for="oldPassword">Palavra Passe Actual</label>
					<input type="password" class="form-control" id="oldPassword" name="oldPassword" value="">
				</div>
				<div class="form-group">
					<label for="newPassword">Palavra Passe</label>
					<input type="password" class="form-control" data-val="true" data-val-length="A palavra passe deve ter pelo menos 3 caracteres." data-val-length-max="100" data-val-length-min="3" data-val-required="A palavra passe é obrigatória." id="newPassword" name="newPassword" />
				</div>
				<div class="form-group">
					<label for="confirmPassword">Confirmação da Palavra Passe</label>
					<input type="password" class="form-control" data-val="true" data-val-equalto="A palavra passe e confirmação não correspondem" data-val-equalto-other="*.Password" id="confirmPassword" name="confirmPassword" />
				</div>
				<button type="submit" class="btn btn-primary">Alterar palavra passe</button>
			</form>
		</div>
		<script src="/javascripts/jquery.validate.js"></script>
		<script src="/javascripts/jquery.validate.unobtrusive.js"></script>
        <%- include ../includes/footer.ejs %>
    </body>
</html>