<!DOCTYPE html>
<html lang="pt">
    <%- include ../includes/head.ejs %>
    <body>
        <%- include ../includes/header.ejs %>		
		<div class="container">
			<div class="page-header">
				<h3><%= title %></h3>
			</div>
			<%
				this.errorMsg = this.errorMsg || '';
			%>
			<p class="message-success"><%= errorMsg %></p>
			<form role="form" action="/users/login" method="post">
				<div class="form-group">
					<label for="userName">Nome do utilizador</label>
					<input type="text" class="form-control" placeholder="Digite o email do utilizador" data-val="true" data-val-required="O email do utilizador é obrigatório." id="userName" name="userName" value="">
					<span class="field-validation-valid" data-valmsg-for="userName" data-valmsg-replace="true"></span>
				</div>
				<div class="form-group">
					<label for="password">Palavra Passe</label>
					<input type="password" class="form-control" data-val="true" data-val-length="A palavra passe  é obrigatória." data-val-length-max="100" data-val-length-min="3" data-val-required="A palavra passe é obrigatória." id="password" name="password" />
					<span class="field-validation-valid" data-valmsg-for="password" data-valmsg-replace="true"></span>
				</div>
				<div class="form-group">
					<label>
						<input data-val="true" data-val-required="Lembrar-se de mim? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true" > Lembrar-se de mim?
						<input name="RememberMe" type="hidden" value="false" />
					</label>
				</div>        
				<button type="submit" class="btn btn-primary">Entrar</button>
			</form>
		</div>
		<script src="/javascripts/jquery.validate.js"></script>
		<script src="/javascripts/jquery.validate.unobtrusive.js"></script>
        <%- include ../includes/footer.ejs %>
    </body>
</html>